{% extends 'events/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <center>
         <div class="container" id="jumbotron">
             <h1>{{ post.name }}</h1>
             <img src="{{ post.image.url }}" width="800px" height="475px" /></img>
             <p><h3 style="background-color: white; word-wrap: break-word;">{{ post.text }}</h3></p>
             <h3>{{ post.date }}</h3>

         </div>
    </center>
    {% endblock content %}
</body>
</html>